<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--CSS-->
    <link rel="stylesheet" href="../../resources/css/index.css">
</head>
<body>
    <div id="navbar">
        <div>
            <img src="../../resources/images/LemonLogo.png" alt="LemonLogo"> 
            <a href="/"><b>Zest</b></a>
        </div>
        <div>
            <button type="button" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-primary">Sign Up</button>
        </div>
    </div> 
    <div class="row" id="main">
        <img src="../../resources/images/lemons.png" alt="Lemons">
        <h1>ZEST</h1>
        <img src="../../resources/images/lemons.png" alt="Lemons" style="-webkit-transform: scaleX(-1);  transform: scaleX(-1);">
    </div>
    <div id="tagline">
        <p>Meal planning made easy</p>
    </div>
    <div class="column" id="getStarted">
        <div>
            <button type="button" class="btn btn-secondary">Start Planning</button>
        </div>
        <div class="small-space">
            <a href="">Already a member? Login</a>
        </div>
    </div>
    <br>
    <!--Need to develop a footer!-->
</body>
</html>